<%- layout("layouts/boilerplate") %>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">
                <%= elective.name.toUpperCase() %>
            </h1>
            <p class="col-md-8 fs-4">
                <%= elective.description %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <% for(let review of elective.reviews) { %>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="card-title">
                            <%= review.rating %>/5
                        </div>
                        <div class="card-text">
                            <%= review.description %>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <div class="col-6">
            <form action="/electives/<%= elective._id %>" method="POST">
                <fieldset class="starability-basic">
                    <h5>Rating</h5>
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                        aria-label="No rating." />
                    <input type="radio" id="rating-1" name="rating" value="1" />
                    <label for="rating-1" title="Terrible">1 star</label>
                    <input type="radio" id="rating-2" name="rating" value="2" />
                    <label for="rating-2" title="Not good">2 stars</label>
                    <input type="radio" id="rating-3" name="rating" value="3" />
                    <label for="rating-3" title="Average">3 stars</label>
                    <input type="radio" id="rating-4" name="rating" value="4" />
                    <label for="rating-4" title="Very good">4 stars</label>
                    <input type="radio" id="rating-5" name="rating" value="5" />
                    <label for="rating-5" title="Amazing">5 stars</label>
                </fieldset>

                <div class="form-floating my-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Share your thoughts</label>
                </div>
                <button  class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>